.mainSec6 {
  width: 100%;
  top: 0;
  margin-top: 0;
  height: fit-content;
  color: #fff;
  overflow: hidden;
  background: url('../../../assets/landingPage/Section6/Group 51946.png');
}
.section {
  height: auto;
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 12vw 2vw 2vw 2vw;
}

.carousel li {
  display: flex;
  justify-content: center;
}
