.inputContainer {
  display: flex;
  align-items: center;
  padding: min(3vw, 25px) min(2.5vw, 20px);
  color: rgba(255, 255, 255, 1);
  height: 6vw;
  max-height: 100px;
  font-size: min(16px, 2vw);
}

.input {
  margin-left: 1vw;
  border: none;
  outline: none !important;
  font-weight: 100 !important;
  background-color: transparent !important;
  color: white;
}

.input:focus {
  box-shadow: none;
}

::placeholder {
  color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 720px) {
  .inputContainer {
    font-size: max(8px, 2.5vw);
  }
}
