.mainSec2{
    min-width: 100vw;
    min-height: 100vh;
    background-color: #07020C;
    overflow-x: hidden;
}

.container{
   position: relative;
   min-width: 100%;
}

.backgroundHidden{
    visibility: hidden !important;
    top: 0px;
    right: 0;
    max-width: 798px;
    max-height: auto;
    width: 58.41%;
    height: auto;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: auto;
    width: 100%;
    height: auto;
}

.laptop{
    position: absolute;
    float: right;
    top: 27.08%;
    right: 0;
    max-width: 722px;
    max-height: auto;
    width: 52.85%;
    height: auto;
}