.mainSec7 {
  min-width: 100%;
  min-height: fit-content;
  background-color: #07020c;
  overflow-x: hidden;
  padding: 2vw;
}
.text {
  text-align: center;
  font-size: max(1.8vw, 14px);
  padding: 0 20px;
  color: #c3bdff;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1vw;
  flex-direction: row;
  justify-content: center;
}
