.mainSec8 {
  min-width: 100%;
  min-height: fit-content;
  background-color: #07020c;
  overflow-x: hidden;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 0vw;
  max-width: 140px;
  max-height: auto;
  width: 8vw;
  height: auto;
  margin-bottom: 2vw;
}

.bottomNav {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  color: #fafafa;
}

.logonav {
  height: fit-content;
  width: fit-content;
}

.footerLogo {
  /* transform: translateY(-5px); */
  width: 4vw;
  max-width: 105px;
  height: auto;
}

.social {
  display: flex;
  align-items: start;
}
.sociallinks {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
}

.linkContainer {
  margin: 1vw;
  margin-top: 0;
}
.socialicons {
  display: none;
}
.icon1 {
  display: flex;
  flex-direction: row;
}
.links {
  display: flex;
}

.home {
  position: relative;
}
.platforms {
  position: relative;
}
.services {
  position: relative;
}

.copyright {
  position: relative;
  color: #fafafa;
  font-size: max(0.8vw, 10px);
  text-align: center;
}

.text {
  margin-top: 9.5vw;
  text-align: center;
  padding: 2vw;
  font-size: max(2.4vw, 14px);
  color: #c3bdff;
}
.text2 {
  font-size: max(1.84vw, 15px);
  font-weight: bold;
  letter-spacing: 3px;
}
.text3 {
  font-size: max(1vw, 10px);
  margin: 0;
}
.text4 {
  font-size: max(1vw, 12px);
  margin-left: 1vw;
}

@media only screen and (max-width: 900px) {
  .bottomNav {
    flex-direction: column-reverse;
  }
  .links {
    flex-direction: column;
  }
  .linkContainer {
    margin: 5vw;
  }
  .text4 {
    display: none;
  }
  .sociallinks {
    flex-direction: row;
    justify-items: space-between;
  }
  .icon1 {
    width: 100%;
    margin-left: 5vw;
  }

  .footerLogo {
    margin-left: 5vw;
    width: 5vw;
  }
}
