.mainSec8 {
  min-width: 100%;
  min-height: fit-content;
  background-color: #07020c;
  overflow-x: hidden;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 9.5vw;
  text-align: center;
  padding: 2vw;
  font-size: max(2.4vw, 14px);
  color: #c3bdff;
}

.logo {
  margin-top: 5vw;
  max-width: 140px;
  max-height: auto;
  width: 10vw;
  height: auto;
  margin-bottom: 60vw;
}

.bottomNav {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10vw;
  height: min-content;
  color: #fafafa;
}
.bottomNav2 {
  display: none;
}
.bottomShadow {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  max-height: auto;
  width: 100vw;
  height: auto;
}
.rectangle {
  margin-left: 5.56vw;
  width: 9.53vw;
  height: auto;
  position: absolute;
  max-width: 129px;
}
.logonav {
  position: relative;
  top: 0;
  margin-bottom: 4vw;
}

.sociallinks {
  position: relative;
  margin-left: 17.7vw;
  display: flex;
  flex-direction: column;
}
.socialicons {
  display: none;
}
.icon1 {
  display: flex;
  flex-direction: row;
}

.grp18 {
  position: absolute;
  width: 7.68vw;
  max-width: 105px;
  height: auto;
  margin-left: 6.44vw;
  margin-top: 1vw;
}
.home {
  position: relative;
  margin-left: 25vw;
}
.platforms {
  position: relative;
  margin-left: 4vw;
}
.services {
  position: relative;
  margin-left: 2vw;
}
.text2 {
  font-size: max(1.84vw, 15px);
  font-weight: bold;
  letter-spacing: 3px;
}
.text3 {
  font-size: max(1vw, 10px);
  margin: 0;
}
.text4 {
  font-size: max(1vw, 12px);
  margin-left: 1vw;
}
.copyright {
  position: relative;
  color: #fafafa;
  font-size: max(0.8vw, 10px);
  text-align: center;
}
@media (max-width: 1000px) {
  .bottomNav {
    margin-bottom: 7vw;
  }
}
@media (max-width: 900px) {
  .bottomNav {
    margin-bottom: 5vw;
  }
  .home {
    margin-left: 16vw;
  }
}
@media (max-width: 762px) {
  .bottomNav {
    margin-bottom: 1vw;
  }
  .home {
    margin-left: 8vw;
  }
}
@media (max-width: 650px) {
  .bottomNav {
    margin-bottom: 0vw;
  }
  .home {
    margin-left: 30vw;
  }
  .bottomNav {
    display: none;
  }
  .bottomNav2 {
    display: contents;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 10vw;
    height: min-content;
    color: #fafafa;
  }
  .socialicons {
    display: flex;
    position: absolute;
    display: contents;
    top: -10vw;
    color: #fafafa;
  }
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .contact {
    margin: -8vw 0 2vw 6vw;
  }
  .ml {
    margin-left: 1vw;
  }
}
@media (max-width: 465px) {
  .home {
    margin-left: 20vw;
  }
}
