.headerContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff !important;
  width: 100%;
  padding: 0 2vw;
  height: min-content;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  max-width: 225px;
  min-width: 130px;
  max-height: auto;
  width: 16vw;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerPhone {
  height: 0;
}

.headerLinks {
  display: flex;
  margin: 0 20px;
  justify-content: space-between;
  font-size: min(1.5vw, 14px);
}

.link {
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.link:hover {
  color: #9169db;
}

.buttons {
  display: flex;
  justify-content: space-between;
  min-width: fit-content;
  align-items: center;
}

.buttons > * {
  margin: 5px;
}

.menuButton {
  font-size: min(5vw, 14px);
}

@media only screen and (max-width: 885px) {
  /* .logo{
        margin-top: -10px;
        max-width: 60px;
        width: 5vw;
        min-width: 45px;
    } */

  .container {
    flex-direction: column;
    margin-top: -2vw;
    color: #fff;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.3vw);
  }
  .headerLinks {
    flex-direction: column;
  }
  .buttons {
    flex-direction: column;
  }
}
