.mainSec5 {
  width: 100%;
  background-color: #07020c;
  color: #fff;
  overflow: hidden;
}
.text {
  text-align: center;
  color: #fbfbfb;
  font-size: max(3.6vw, 34px);
  font-weight: bold;
}
.subtext {
  font-size: max(1.6vw, 12px);
  color: #ffffff;
  text-align: center;
  padding: 0 18vw;
  line-height: normal;
  font-weight: medium;
}
.contentContainer {
  margin: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 5vw;
  padding-left: min(80px, 15vw);
}

.container {
  position: relative;
  display: flex;
}

.container2 {
  position: relative;
  display: flex;
  justify-content: end;
  margin-right: 3vw;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.mentortext {
  height: 100%;
  align-self: center;
  margin-left: 5vw;
  max-width: min(400px, 35vw);
  line-height: 1.31;
  font-style: italic;
}

.name {
  margin-top: 1vw;
}

.text2Container {
  width: 50%;
  text-align: center;
  margin-right: 5vw;
}

.mentortext {
  font-size: min(20px, 1.4vw);
  line-height: 1.31;
}
.mentortext3 {
  font-size: min(25px, 1.8vw);
  line-height: 1.31;
  color: rgba(189, 183, 248, 1);
}
.name {
  font-size: min(20px, 1.4vw);
  font-weight: 900;
  margin: 2vw 0 0.5vw 0;
}
.info {
  font-size: min(10px, 0.72vw);
}
.mentorimg1 {
  width: 17vw;
  max-width: 225px;
  height: auto;
}
.mentorimg3 {
  width: 17vw;
  max-width: 225px;
  height: auto;
}
.mentorimg2 {
  width: 17vw;
  max-width: 225px;
  height: auto;
}

.bgimg1 {
  position: absolute;
  top: -10vw;
  left: -18vw;
  width: 65vw;
  max-width: 700px;
  height: auto;
}
.bgimg3 {
  position: absolute;
  top: 16vw;
  right: -10vw;
  width: 50vw;
  max-width: 600px;
  height: auto;
  filter: blur(5vw);
}

.bgimg2 {
  position: absolute;
  bottom: -6vw;
  left: -5vw;
  width: 50vw;
  max-width: 500px;
  height: auto;
}
