.button {
  color: #fff9fc;
  padding: 0.73vw 1.09vw;
  border-radius: 1.317vw;
  font-family: 'Poppins';
  border: none;
  font-size: 1em;
  display: flex;
  align-items: center !important;
  justify-content: center;
  text-align: center;
  font-size: min(1.5vw, 14px);
}

.button:focus {
  outline: none;
}
