.button {
  color: #fff9fc;
  padding: clamp(5px, 1em, 1vw);
  border-radius: 1.317vw;
  font-family: 'Poppins';
  border: none;
  font-size: 1em;
  display: flex;
  align-items: center !important;
  justify-content: center;
  text-align: center;
  font-size: clamp(1vw, 1em, 8px);
  height: fit-content;
}

.button:focus {
  outline: none;
}
